################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/Raspil/v16
*/bin/Debug/*
*/obj/Debug/*

